<app-navbar-vistas></app-navbar-vistas>

<body>
  <div id="table" class="container emp-profile">
    <form #editForm="ngForm" method="post">
      <div class="row" id="rows">
        <div class="col-md-4">
          <div class="profile-img">
            <img
              *ngIf="getIdModelo.rol == 'ADMIN'"
              class="rounded-circle mt-5"
              width="150px"
              src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"
            />

            <!--    <img *ngIf="getIdModelo.rol == 'HOTEL'" class="rounded-circle mt-5" height="300px"
              src="https://img.freepik.com/vector-gratis/hotel-o-motel-vector-edificio-ciudad-ciudad-ilustracion-dibujos-animados-plana-aislado-sobre-fondo-blanco_212005-309.jpg?w=740" />
 -->
            <img
              *ngIf="
                getIdModelo.rol == 'USUARIO' &&
                getIdModelo.genero == 'Masculino'
              "
              class="rounded-circle mt-5"
              width="200px"
              src="https://cdn.icon-icons.com/icons2/1999/PNG/512/avatar_man_people_person_profile_user_icon_123385.png"
            />
            <img
              *ngIf="getIdModelo.rol == 'EMPRESA'"
              class="rounded-circle mt-5"
              width="200px"
              src="https://img.freepik.com/vector-premium/personaje-dibujos-animados-grafico-vector-ilustracion-empresa_516790-299.jpg?w=2000"
            />
            <img
              *ngIf="
                getIdModelo.rol == 'USUARIO' && getIdModelo.genero == 'Femenino'
              "
              class="rounded-circle mt-5"
              width="200px"
              src="https://cdn.icon-icons.com/icons2/1999/PNG/512/avatar_people_person_profile_user_woman_icon_123368.png"
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="profile-head">
            <h5>
              <span
                *ngIf="
                  getIdModelo.rol == 'USUARIO' || getIdModelo.rol == 'ADMIN'
                "
                class="font-weight-bold"
                >Nombre: {{ getIdModelo.nombre }}</span
              >
            </h5>
            <h6 *ngIf="this.identidad.rol == 'ADMIN'">
              Administrador de la aplicación
            </h6>
            <h6 *ngIf="this.identidad.rol == 'EMPRESA'">
              Administrador del hotel
            </h6>
            <h6 *ngIf="this.identidad.rol == 'USUARIO'">Usuario</h6>
            <p class="proile-rating">OPCIONES : <span></span></p>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  id="home-tab"
                  data-toggle="tab"
                  role="tab"
                  aria-controls="home"
                  aria-selected="true"
                  >Editar perfil</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-8">
          <div class="tab-content profile-tab" id="myTabContent">
            <div
              class="tab-pane fade show active"
              id="home"
              role="tabpanel"
              aria-labelledby="home-tab"
            >
              <div
                class="row"
              >
                <div class="col-md-5">
                  <label>Nombre</label>
                </div>
                <div class="col-md-6">
                  <p>
                    <span *ngIf="!nombre.valid && nombre.touched"
                      >Campo requerido</span
                    >
                    <input
                      type="text"
                      class="form-control"
                      name="nombre"
                      required="true"
                      #nombre="ngModel"
                      [(ngModel)]="getIdModelo.nombre"
                    />
                  </p>
                </div>
              </div>
              <div *ngIf="getIdModelo.apellido" class="row">
                <div class="col-md-5">
                  <label>Apellido</label>
                </div>
                <div class="col-md-6">
                  <p>
                    <span *ngIf="!apellido.valid && apellido.touched"
                      >Campo requerido</span
                    >
                    <input
                      type="text"
                      class="form-control"
                      name="apellido"
                      required="true"
                      #apellido="ngModel"
                      [(ngModel)]="getIdModelo.apellido"
                    />
                  </p>
                </div>
              </div>
              <div
                class="row"
              >
                <div class="col-md-5">
                  <label>Correo/Usuario</label>
                </div>
                <div class="col-md-6">
                  <p>
                    <span *ngIf="!email.valid && email.touched"
                      >Campo requerido</span
                    >
                    <input
                      type="text"
                      class="form-control"
                      name="email"
                      #email="ngModel"
                      required="true"
                      [(ngModel)]="getIdModelo.email"
                    />
                  </p>
                </div>
              </div>

              <div
                *ngIf="
                  this.identidad.rol == 'USUARIO' ||
                  this.identidad.rol == 'EMPRESA'
                "
                class="row"
              >
                <div class="col-md-5">
                  <label>Telefono</label>
                </div>
                <div class="col-md-6">
                  <p>
                    <span *ngIf="!telefono.valid && telefono.touched"
                      >Campo requerido</span
                    >
                    <input
                      type="number"
                      class="form-control"
                      name="telefono"
                      #telefono="ngModel"
                      required="true"
                      [(ngModel)]="getIdModelo.telefono"
                    />
                  </p>
                </div>
              </div>
            </div>
          </div>
          <button
            [disabled]="!editForm.form.valid"
            (click)="putPerfil()"
            id="btnAgregar"
            class="learn-more"
          >
            <span class="circle" aria-hidden="true">
              <span class="icon arrow"></span>
            </span>
            <span class="button-text">Guardar</span>
          </button>
          <button
            *ngIf="this.identidad.rol == 'USUARIO'"
            (click)="eliminarPerfil()"
            id="btnBorrar"
            class="learn-more"
          >
            <span class="circle" aria-hidden="true">
              <span class="icon arrow"></span>
            </span>
            <span class="button-text">Borrar perfil</span>
          </button>
        </div>
      </div>
    </form>
  </div>
</body>
<!--
<body>
  <section class="intro" *ngIf="this.identidad.rol == 'USUARIO'">
    <div class="bg-image h-100">
      <div class="mask d-flex align-items-center h-100">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12">
              <div class="card">
                <div class="card-body">
                  <div class="table-responsive">
                    <div class="title-cards">
                      <h2>Mis reservaciones actuales</h2>
                    </div>


                    <table class="table table-hover mb-0">
                      <thead>
                        <tr>
                          <th scope="col">Habitaciones</th>
                          <th scope="col">Hotel</th>
                          <th scope="col">Opciones</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let info of getHabitacion | busqueda: search
                            ">
                          <th scope="row">{{ info.nombre }}</th>
                          <td>
                            <span>
                              <span>{{ info.idHotel.nombre }}</span>
                            </span>
                          </td>
                          <td>
                            <span>
                              <span>
                                <a><button (click)="cancelar(info._id)" class="btn btn-outline-danger">
                                    <i class="fa-solid fa-ban"></i></button></a>
                              </span>
                            </span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
 -->
