* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("./img/adffb142a07755f9fc4e1400e3491ae32.jpg");

}

body {
  background-position: center;
  background-size: cover;
}
